.date-picker-navigation {
  position: relative;
  z-index: 10;
  padding: 6px 0;
  display: flex;
  gap: 5px;

  @media (max-width: 576px) {
    // flex-direction: column;
    // gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .date-picker-navigation-add-event,
  .date-picker-navigation-btn-today,
  .date-picker-navigation-set-day,
  .date-picker-navigation-btn-search {
    margin-right: 8px;
    @media (max-width: 1000px) {
      margin-right: 0;
    }
  }
}

.date-picker-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;

  .date-picker-navigation-select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; // Removes default browser styling
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e6e6e6;
    }

    &:focus {
      outline-offset: 2px;
    }
  }

  &::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
  }
}

.date-picker-select {
  min-width: 170px;

  .date-picker__control {
    min-height: 53px;
    border-color: #e0e0e0;
    cursor: pointer;

    &:hover,
    &.date-picker__control--is-focused {
      border-color: #e0e0e0;
      box-shadow: #e0e0e0 0px 4px 12px;
    }
  }

  .date-picker__single-value,
  .date-picker__input {
    font-size: 16px !important;
    color: rgb(66, 66, 66) !important;
    font-weight: 400 !important;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif !important;
  }
  input[type="text"].date-picker__input:focus {
    box-shadow: none;
  }

  .date-picker__menu {
  }
  .date-picker__option {
    padding: 12px 16px;

    &.date-picker__option--is-selected {
      background-color: #e0e0e0;
      color: #000;
    }

    &.date-picker__option--is-focused {
      background-color: #bedeef;
      cursor: pointer;
      color: #000;
    }
  }
}

.date-picker-filter {
  display: flex;
  flex: 1 1 0.1%;
  justify-content: flex-end;
  align-items: center;
  padding-left: 8px;
  box-sizing: border-box;
  @media (max-width: 1000px) {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}
