.filters {
  margin-left: 20px;
}
.date-picker-navigation {
  padding: 6px 0;
  display: flex;

  .date-picker-navigation-btn-today {
    margin-right: 8px;
  }

  .date-picker-navigation-set-day {
    margin-right: 8px;
  }
}

.date-picker-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;

  .date-picker-navigation-select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; // Removes default browser styling
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e6e6e6;
    }

    &:focus {
      outline: 2px solid #007acc;
      outline-offset: 2px;
    }
  }

  &::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
  }
}
