.button-text {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}
