.button {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  user-select: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  //   text-transform: uppercase;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #d1d1d1;
  color: rgb(66, 66, 66);
  padding: 6px 16px;
  border-radius: 4px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:focus,
  &:hover {
    border-color: rgb(66, 66, 66);
  }

  &.active {
    // background-color: red;
    color: rgb(66, 66, 66);
  }

  &._outline {
    border-color: #e0e0e0;
    background-color: transparent;
    color: rgb(66, 66, 66);

    &:focus,
    &:hover {
      background-color: #e0e0e0;
      color: rgb(66, 66, 66);
    }
  }
}
