.wrapper-date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  & > div {
    display: block !important;
    width: 100%;
  }
  .loader {
    width: 100px;
    height: 100px;
  }

  .react-datepicker {
    box-sizing: border-box;
  }
}

.g-date-picker {
  width: 100%;

  .react-datepicker__navigation {
  }

  .react-datepicker__navigation--previous {
    .react-datepicker__navigation-icon::before {
      border-color: #000;
    }
  }

  .react-datepicker__navigation--next {
    .react-datepicker__navigation-icon::before {
      border-color: #000;
    }
  }

  .react-datepicker__month-container {
    width: 100%;
  }

  .react-datepicker__header {
    background-color: #bedeef;
  }

  .react-datepicker__day-names {
  }

  .react-datepicker__day-name {
  }

  .react-datepicker__day-names,
  .react-datepicker__week {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    color: #000;

    min-width: 30px;
    width: calc(100 / 7 * 1%); //cell width
  }

  .react-datepicker__day {
    @media (max-width: 767px) {
      margin: 0;
    }
  }

  .react-datepicker__month-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    width: 33.33%;
    height: 56px;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;

    font-size: 16px;
  }

  .react-datepicker__month {
    margin: 0;
    padding: 8px;
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .react-datepicker__current-month {
    color: #000;
  }

  .react-datepicker__week {
  }

  .react-datepicker__day {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #f0f0f0;

    height: 140px; //cell height
    padding: 8px;
    box-sizing: border-box;

    @media (max-width: 767px) {
      height: 100px;
      padding: 6px;
      overflow-x: auto;
    }

    &:hover,
    &.react-datepicker__day--keyboard-selected,
    &.react-datepicker__day--selected {
      border-radius: 0;
      border-color: #bedeef;
      background-color: transparent;
      color: #000;
    }

    &:focus,
    &:hover {
      border-color: #bedeef;
      outline: none;
      background-color: #f0f0f0;
    }

    .time {
      color: #000;
    }

    .title {
      color: #000;
      background-color: #bedeef;
      padding: 2px 6px 2px 10px;
      border-radius: 4px;
      position: relative;
      // word-break: break-all;

      &::before {
        content: " ";
        display: inline-block;
        width: 5px;
        height: 100%;
        background-color: #3c97c8;
        border-radius: 20px;
        margin-right: 4px;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 767px) {
        // display: none;
        font-size: 12px;
      }
    }

    .day {
      color: #000;
      text-align: right;
    }

    .event {
      font-size: 14px;
      line-height: 1.33;
      white-space: normal;
      text-align: left;

      @media (max-width: 767px) {
        // float: left;
        min-width: 100px;
      }

      & + .event {
        margin-top: 8px;

        // @media (max-width: 767px) {
        //   margin-top: 0px;
        // }
      }
    }

    // .label {
    //   display: none;
    //   margin: 2px;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 50%;
    //   background-color: oklch(0.707 0.022 261.3);

    //   @media (max-width: 767px) {
    //     display: block;
    //   }
    // }
  }
}
