.event-sidebar-wrapper {
  flex: 1 1 auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  @media (min-width: 1200px) {
    padding: 24px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    min-width: 320px;
  }

  .sidebar-box {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 1200px) {
      flex-direction: row;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .events-ongoing,
    .events-current {
      flex: 1 1 50%;
      padding: 1.5rem;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

      @media (max-width: 1200px) {
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
          0px 1px 8px 0px rgba(0, 0, 0, 0.12);
      }

      .sidebar-title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #333;
        border-left: 4px solid #4caf50;
        padding-left: 0.75rem;
      }

      .sidebar-image {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .image {
          width: 100%;

          border-radius: 8px;
          object-fit: cover;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
      }

      .ongoing-list,
      .current-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .no-events {
          padding: 20px 0;
          font-size: 1rem;
          font-weight: 600;
          color: #333;
          & span {
            font-weight: 400;
          }
        }

        .list-item {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          padding: 0.75rem 1rem;
          margin-bottom: 0.5rem;
          background-color: #f5f5f5;
          border-radius: 6px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #bedeef;
            transform: translateY(-2px);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }

          .list-title {
            font-size: 1rem;
            font-weight: 500;
            color: #333;
            cursor: pointer;
          }

          .list-time {
            font-size: 0.875rem;
            font-weight: 400;
            color: #666;
          }

          .list-category {
            font-size: 0.875rem;
            font-style: italic;
            color: #888;
          }
        }
      }
    }
  }
}
