.modal-wrapper-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-calendar {
  // max-height: 500px;
  // height: 100%;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  max-width: 768px;

  @media (max-width: 767px) {
    height: 100vh;

    border-radius: 0;
  }

  .modal-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(-60px + 100vh);
  }
  .modal-content {
    overflow-y: auto;
    height: 100%;
    .modal-calendar-card {
      background-color: #fdfdfd;
      padding: 1rem 1.5rem;
      border-radius: 12px;

      max-width: 700px;

      .modal-calendar-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
        padding: 10px;
        margin-bottom: 1.5rem;
        font-size: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        .modal-calendar-label {
          font-weight: 600;
          color: #222;
          min-width: 100px;
        }

        .modal-calendar-value {
          line-height: 1.5;
          color: #555;
          background-color: #fafafa;
          padding: 0.75rem 1rem;
          width: 100%;
        }
      }
    }
  }
}
