.g-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main {
    padding: 50px 0;
    flex: 1;
    .container-fluid {
      width: auto;
      .main-content-wrapper {
        display: flex;
        @media (max-width: 1000px) {
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }

  .container {
    box-sizing: border-box;
  }
}
